@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 90vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
  
}
h2{
  text-align: center;
}

.board {
  border: 1rem solid #ff652f;
  background: #ff652f;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  position: relative;
  left: 80px;

}

.squares {
  background: #272727;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

.X {
  color: black;
}
.O {
  color: white;
}

.info-wrapper {
  width: 650px;
  display: flex;
  justify-content: space-around;
  
}

h3 {
  padding: 1rem;

}

li {
  list-style: none;
}

.info-wrapper button {
  background: #272727;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.3rem;
  margin: 0.5rem 1rem;
}
